<phpunit colors="true">
    <!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
    <filter>
        <whitelist>
            <directory suffix=".php">./</directory>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>